In [2]:
import pandas as pd
import numpy as np
import os

In [73]:
nys_absenteeism_df = pd.read_excel("ACC HS Chronic Absenteeism.xlsx",index_col=False)

In [39]:
nys_grad_rate_df = pd.read_excel("ACC HS Graduation Rate.xlsx",index_col=False,dtype=({"ENTITY_CD":"string"}),names=['institution_id', 'entity_cd', 'entity_name', 'year', 'subgroup_name',
       'cohort', 'cohort_count', 'grad_count', 'grad_rate', 'cohort_level',
       'override', 'wt_perf_flag'])

In [122]:
nys_grad_rate_df = nys_grad_rate_df.loc[:,['entity_cd','entity_name','year','subgroup_name','cohort','cohort_count','grad_count']]
nys_grad_rate_df = nys_grad_rate_df[~nys_grad_rate_df['entity_cd'].astype('str').str.endswith('0000')]
nys_grad_rate_df = nys_grad_rate_df[nys_grad_rate_df.subgroup_name != 'All Students']
nys_grad_rate_df = nys_grad_rate_df[nys_grad_rate_df.cohort != 'Combined']

In [123]:
nys_grad_rate_df

,entity_cd,entity_name,year,subgroup_name,cohort,cohort_count,grad_count
44,10100010034,ALBANY HIGH SCHOOL,2022,Hispanic or Latino,6-Year,108,82
47,10100010034,ALBANY HIGH SCHOOL,2022,English Language Learner,4-Year,94,74
48,10100010034,ALBANY HIGH SCHOOL,2022,Multiracial,6-Year,17,s
50,10100010034,ALBANY HIGH SCHOOL,2022,White,4-Year,142,123
51,10100010034,ALBANY HIGH SCHOOL,2022,White,5-Year,145,122
...,...,...,...,...,...,...,...
159954,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Asian or Native Hawaiian/Other Pacific Islander,6-Year,0,s
159956,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Black or African American,4-Year,0,s
159957,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Black or African American,5-Year,0,s
159958,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Black or African American,6-Year,0,s
159959,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Students with Disabilities,6-Year,1,s

In [126]:
nys_absenteeism_df.columns = nys_absenteeism_df.columns.str.lower()
nys_absenteeism_df = nys_absenteeism_df.loc[:,['entity_cd', 'entity_name','year','subgroup_name','enrollment','absent_count']]
nys_absenteeism_df = nys_absenteeism_df[~nys_absenteeism_df['entity_cd'].astype('str').str.endswith('0000')]
nys_absenteeism_df = nys_absenteeism_df[nys_absenteeism_df.subgroup_name != 'All Students']

In [120]:
nys_absenteeism_df

,entity_cd,entity_name,year,subgroup_name,enrollment,absent_count
11,10100010034,ALBANY HIGH SCHOOL,2021,Students with Disabilities,414,196
12,10100010034,ALBANY HIGH SCHOOL,2021,American Indian or Alaska Native,9,s
13,10100010034,ALBANY HIGH SCHOOL,2021,Asian or Native Hawaiian/Other Pacific Islander,219,40
14,10100010034,ALBANY HIGH SCHOOL,2021,Black or African American,1398,624
15,10100010034,ALBANY HIGH SCHOOL,2021,Hispanic or Latino,469,180
...,...,...,...,...,...,...
40895,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Hispanic or Latino,s,s
40896,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,White,1,s
40897,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Multiracial,s,s
40898,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Economically Disadvantaged,s,s
40899,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,English Language Learner,s,s

Now, we need to merge the two columns to have a total of 4 shared columns and 5 features, thus having 9 columns in our final dataframe

In [128]:
nys_final_df = pd.merge(nys_absenteeism_df,nys_grad_rate_df,how='inner',on=['entity_cd','entity_name','year','subgroup_name'])

In [129]:
# number of unique schools 
len(nys_final_df.entity_name.unique())

1426

This dataset contains 1426 unique schools

In [131]:
nys_final_df

,entity_cd,entity_name,year,subgroup_name,enrollment,absent_count,cohort,cohort_count,grad_count
0,10100010034,ALBANY HIGH SCHOOL,2021,Students with Disabilities,414,196,6-Year,93,48
1,10100010034,ALBANY HIGH SCHOOL,2021,Students with Disabilities,414,196,5-Year,77,42
2,10100010034,ALBANY HIGH SCHOOL,2021,Students with Disabilities,414,196,4-Year,89,45
3,10100010034,ALBANY HIGH SCHOOL,2021,American Indian or Alaska Native,9,s,6-Year,3,s
4,10100010034,ALBANY HIGH SCHOOL,2021,American Indian or Alaska Native,9,s,5-Year,2,s
...,...,...,...,...,...,...,...,...,...
66280,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Economically Disadvantaged,s,s,5-Year,0,s
66281,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,Economically Disadvantaged,s,s,6-Year,0,s
66282,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,English Language Learner,s,s,4-Year,0,s
66283,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,English Language Learner,s,s,6-Year,0,s
66284,680801040002,DUNDEE ELEMENTARY SCHOOL,2022,English Language Learner,s,s,5-Year,0,s

In [132]:
nys_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66285 entries, 0 to 66284
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   entity_cd      66285 non-null  int64
 1   entity_name    66285 non-null  object
 2   year           66285 non-null  int64
 3   subgroup_name  66285 non-null  object
 4   enrollment     66285 non-null  object
 5   absent_count   66285 non-null  object
 6   cohort         66285 non-null  object
 7   cohort_count   66285 non-null  object
 8   grad_count     66285 non-null  object
dtypes: int64(2), object(7)
memory usage: 5.1+ MB

In [153]:
nys_final_df = nys_final_df[nys_final_df.grad_count.str.contains('s')==False]
nys_final_df = nys_final_df[nys_final_df.absent_count.str.contains('s') == False]

In [154]:
nys_final_df

,entity_cd,entity_name,year,subgroup_name,enrollment,absent_count,cohort,cohort_count,grad_count
0,10100010034,ALBANY HIGH SCHOOL,2021,Students with Disabilities,414,196,6-Year,93,48
1,10100010034,ALBANY HIGH SCHOOL,2021,Students with Disabilities,414,196,5-Year,77,42
2,10100010034,ALBANY HIGH SCHOOL,2021,Students with Disabilities,414,196,4-Year,89,45
6,10100010034,ALBANY HIGH SCHOOL,2021,Asian or Native Hawaiian/Other Pacific Islander,219,40,4-Year,57,48
7,10100010034,ALBANY HIGH SCHOOL,2021,Asian or Native Hawaiian/Other Pacific Islander,219,40,6-Year,53,44
...,...,...,...,...,...,...,...,...,...
66227,680601060001,PENN YAN ACADEMY,2022,Economically Disadvantaged,191,67,6-Year,65,58
66246,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2022,White,174,61,6-Year,54,46
66247,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2022,White,174,61,5-Year,40,30
66248,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2022,White,174,61,4-Year,53,40
66252,680801040001,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,2022,Economically Disadvantaged,122,54,4-Year,32,22