In [2]:
# standard imports 
import pandas as pd 
import numpy as np

In [3]:
!ls "raw data"

ACC HS Chronic Absenteeism.xlsx
ACC HS Graduation Rate.xlsx
Annual Regents Exams.xlsx
BOCES and N_RC.xlsx
GRAD_RATE_AND_OUTCOMES_2022.csv
nys-ann_regents-reduc.csv

In [4]:
n_rc_df = pd.read_excel("raw data/BOCES and N_RC.xlsx", dtype={"ENTITY_CD":"str"})

In [5]:
n_rc_df.columns = n_rc_df.columns.str.lower()
n_rc_df = n_rc_df[['entity_cd', 'school_name', 'year', 'district_cd', 'district_name', 
                   'county_name', 'needs_index']].copy()

In [6]:
# normalizing strings
n_rc_df.school_name = n_rc_df.school_name.str.title()
n_rc_df.district_name = n_rc_df.district_name.str.title()
n_rc_df.county_name = n_rc_df.county_name.str.title()

In [7]:
n_rc_df[n_rc_df.needs_index == 7]

,entity_cd,school_name,year,district_cd,district_name,county_name,needs_index
7,010100860907,Green Tech High Charter School,2020,NaN,NaN,Albany,7
8,010100860960,Albany Leadership Charter High School For Girls,2020,NaN,NaN,Albany,7
244,070600861078,Finn Academy-An Elmira Charter Schoo,2020,NaN,NaN,Chemung,7
336,110701861172,Truxton Academy Charter School,2020,NaN,NaN,Cortland,7
522,140600860814,King Center Charter School,2020,NaN,NaN,Erie,7
...,...,...,...,...,...,...,...
13187,491700860931,Kipp Troy Prep Charter School,2022,NaN,NaN,Rensselaer,7
13726,580602860032,Riverhead Charter School,2022,NaN,NaN,Suffolk,7
13833,610600860944,New Roots Charter School,2022,NaN,NaN,Tompkins,7
14083,660900861000,Amani Public Charter School,2022,NaN,NaN,Westchester,7
14203,662300860862,Charter Sch-Educ Excellence,2022,NaN,NaN,Westchester,7

In [8]:
district_df = n_rc_df[['entity_cd', 'district_name']]
district_df = district_df.set_index('entity_cd')
district_dict = district_df.to_dict()
district_dict = district_dict["district_name"]

In [9]:
# creating a helper dictionary for need-to-resource capacity categories 
nrc_index = n_rc_df[['district_name','needs_index']]
nrc_index = nrc_index.drop_duplicates()
nrc_index = nrc_index.set_index('district_name')
nrc_lookup = nrc_index.to_dict()
nrc_lookup = nrc_lookup['needs_index']

In [10]:
counties = n_rc_df[['entity_cd','county_name']]
counties = counties.set_index('entity_cd')
county_lookup = counties.to_dict()
county_lookup = county_lookup['county_name']

In [11]:
nys_grads_df = pd.read_csv("data/2022_NYS_grad-rate.csv",dtype={"entity_cd":"str"})

In [12]:
nys_grads_df['district_cd'] = nys_grads_df['entity_cd']
nys_grads_df['district_cd'] = nys_grads_df['district_cd'].map(district_dict)

In [13]:
nys_grads_df['district_nrc'] = nys_grads_df['district_cd']
nys_grads_df['district_nrc'] = nys_grads_df['district_nrc'].map(nrc_lookup)

In [14]:
nys_grads_df['county_cd'] = nys_grads_df['entity_cd']
nys_grads_df['county_cd'] = nys_grads_df['county_cd'].map(county_lookup)

In [15]:
nys_grads_df.district_nrc.value_counts()

1    1961
5    1136
6     548
4     344
7     246
3     235
2     210
Name: district_nrc, dtype: int64

In [16]:
nys_grads_df[nys_grads_df.district_cd.isna()]

,entity_cd,entity_name,year,subgroup_name,grad_rate,district_cd,district_nrc,county_cd
8,010100860907,Green Tech High Charter School,2022,Economically Disadvantaged,86.2,NaN,7,Albany
17,010100860907,Green Tech High Charter School,2022,Black or African American,90.5,NaN,7,Albany
18,010100860960,Albany Leadership Cs-Girls,2022,Hispanic or Latino,88.9,NaN,7,Albany
19,010100860960,Albany Leadership Cs-Girls,2022,Economically Disadvantaged,91.9,NaN,7,Albany
20,010100860960,Albany Leadership Cs-Girls,2022,Black or African American,86.6,NaN,7,Albany
...,...,...,...,...,...,...,...,...
3561,421800860854,Syracuse Academy Of Science Cs,2022,White,100.0,NaN,7,Onondaga
3562,421800860854,Syracuse Academy Of Science Cs,2022,Economically Disadvantaged,97.2,NaN,7,Onondaga
3563,421800860854,Syracuse Academy Of Science Cs,2022,Black or African American,100.0,NaN,7,Onondaga
4339,610600860944,New Roots Charter School,2022,Economically Disadvantaged,82.8,NaN,7,Tompkins
4340,610600860944,New Roots Charter School,2022,White,87.8,NaN,7,Tompkins

In [17]:
charters_df.entity_cd = charters_df.entity_cd.astype('string')
charters_df["charter_cd"] = charters_df.entity_cd.str[6:8]

NameError: name 'charters_df' is not defined

In [ ]:
charters_df

In [ ]:
number = '010100860907'

In [30]:
district

NameError: name 'district' is not defined

In [ ]:
len(nys_grads_df.district_cd.unique())

In [26]:
nys_grads_df = nys_grads_df.fillna('Charter School')

In [33]:
nys_grads_df = nys_grads_df.rename(columns={'entity_name':'school',
                            'subgroup_name':'subgroup',
                            'district_cd':'district',
                            'district_nrc':'nrc_index',
                            'county_cd':'county'})

In [37]:
nys_grads_df = nys_grads_df[['entity_cd','county','district','nrc_index','school','year','subgroup','grad_rate']]

In [44]:
nys_grads_df.to_csv("data/2022_nys_gradrates_compiled.csv",index=False)

In [43]:
!ls data

2022_NYS_grad-rate.csv
2022_nys_gradrates_compiled.csv
cohort_gradrates_22