# Modeling II

In [1]:
# imports 
import pandas as pd 
import numpy as np 

# visualizations
import matplotlib.pyplot as plt 
from matplotlib import style 
%matplotlib inline 
import seaborn as sns 
style.use('fivethirtyeight')

# stats
import statsmodels.api as sm 
import statsmodels.formula.api as smf

# modeling 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


# evaluation metrics 
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# run time 
from datetime import datetime as dt

In [11]:
cohort_grads = pd.read_csv('data/cohort_gradrates_22',dtype={'entity_cd':'str'})

In [12]:
cohort_grads.head()

,entity_cd,entity_name,year,subgroup_name,cohort,grad_rate
0,010100010034,Albany High School,2022,Hispanic or Latino,6-Year,75.9
1,010100010034,Albany High School,2022,English Language Learner,4-Year,78.7
2,010100010034,Albany High School,2022,White,4-Year,86.6
3,010100010034,Albany High School,2022,White,5-Year,84.1
4,010100010034,Albany High School,2022,White,6-Year,89.9

In [13]:
cohort_grads.shape

(11982, 6)

In [30]:
# splitting data 
X = cohort_grads

X_train, X_test = train_test_split(X, test_size=0.2)

In [32]:
# linear mixed effect with 
# structure = "target variable ~ predictor variable"
cohort_md = smf.mixedlm("grad_rate ~ subgroup_name", X_train, groups= X_train.cohort)
cohort_mdf = cohort_md.fit()

C:\Users\devin\anaconda3\envs\ny-ells-project\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\devin\anaconda3\envs\ny-ells-project\Lib\site-packages\statsmodels\regression\mixed_linear_model.py:2201: ConvergenceWarning: Retrying MixedLM optimization with lbfgs
  warnings.warn(
C:\Users\devin\anaconda3\envs\ny-ells-project\Lib\site-packages\statsmodels\regression\mixed_linear_model.py:2262: ConvergenceWarning: The Hessian matrix at the estimated parameter values is not positive definite.
  warnings.warn(msg, ConvergenceWarning)

In [34]:
print(cohort_mdf.summary())

                                    Mixed Linear Model Regression Results
=============================================================================================================
Model:                              MixedLM                  Dependent Variable:                  grad_rate
No. Observations:                   9585                     Method:                              REML
No. Groups:                         3                        Scale:                               182.6093
Min. group size:                    3163                     Log-Likelihood:                      -38554.0173
Max. group size:                    3230                     Converged:                           Yes
Mean group size:                    3195.0
-------------------------------------------------------------------------------------------------------------
                                                                  Coef.  Std.Err.   z    P>|z|  [0.025 0.975]
-------------------------------------------------------------------------------------------------------------
Intercept                                                         83.014    3.127 26.551 0.000  76.886 89.142
subgroup_name[T.Asian or Native Hawaiian/Other Pacific Islander]  12.511    2.717  4.604 0.000   7.185 17.836
subgroup_name[T.Black or African American]                         2.653    2.678  0.991 0.322  -2.596  7.902
subgroup_name[T.Economically Disadvantaged]                        1.968    2.664  0.739 0.460  -3.253  7.189
subgroup_name[T.English Language Learner]                        -13.162    2.717 -4.844 0.000 -18.489 -7.836
subgroup_name[T.Hispanic or Latino]                                0.939    2.673  0.351 0.725  -4.299  6.178
subgroup_name[T.Multiracial]                                       4.765    3.098  1.538 0.124  -1.306 10.837
subgroup_name[T.Students with Disabilities]                       -4.688    2.675 -1.753 0.080  -9.931  0.555
subgroup_name[T.White]                                            10.514    2.670  3.939 0.000   5.282 15.746
Group Var                                                          8.256
=============================================================================================================